/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}
p,
a,
li {
  font-family: 'Cabin', sans-serif;
}
p {
  font-size: 1.6rem;
  line-height: 1.2;
}
li {
  font-size: 1.5rem;
  line-height: 1.2;
}
h1 {
  font-size: 3.6rem;
  color: #FCFCFC;
}
h2 {
  font-size: 2.8rem;
  color: #FCFCFC;
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  background: #272323;
}
.top-header {
  text-align: center;
}
.top-header .main-headline {
  flex: 0 0 100%;
  text-align: center;
  margin: 0 0 50px;
}
.top-header nav {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .top-header nav {
    flex-wrap: wrap;
  }
}
.top-header nav a {
  font-size: 1.8rem;
  font-family: 'Cabin', sans-serif;
  text-decoration: none;
  color: #FCFCFC;
}
@media (max-width: 500px) {
  .top-header nav a {
    font-size: 1.5rem;
  }
}
.container {
  max-width: 820px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.bio-content {
  margin: 40px 0 0;
  background: #eee;
  padding: 50px 0;
}
.bio-content .container {
  align-items: center;
}
.bio-content h2 {
  margin-bottom: 0.5em;
  color: #272323;
}
.bio-content p {
  color: #272323;
}
.bio-image {
  max-width: 120px;
  border-radius: 20%;
  border: 2px solid #1EBABA;
}
.skills {
  background: #FCFCFC;
  padding: 50px 0;
}
.skills h2 {
  color: #272323;
}
.skills .list-container {
  display: flex;
  justify-content: space-around;
}
.skills li {
  font-size: 1.7rem;
  color: #272323;
  margin-bottom: 0.5em;
}
.work-history {
  background: #eee;
  padding: 50px 0;
}
.work-history h2 {
  color: #272323;
  margin-bottom: 0.75em;
}
.work-history li {
  margin-bottom: 1.2em;
  border-bottom: 2px solid #1EBABA;
}
.contact {
  background: #272323;
  padding: 50px 0;
}
.contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact h2 {
  margin-bottom: 0.7em;
  text-align: center;
}
.contact p {
  color: #FCFCFC;
}
.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
}
.form-container .form-row {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
.form-container .form-row label {
  flex: 1;
  font-size: 1.7rem;
  font-family: 'Cabin', sans-serif;
  color: #FCFCFC;
}
.form-container .form-row input {
  padding: 10px 20px 10px 5px;
  width: auto;
  flex: 3;
  border: 2px solid #eee;
  border-radius: 4px;
  font-size: 14px;
  transition: 0.2s all ease-in-out;
}
.form-container .form-row input:focus {
  outline: none;
  border: 2px solid #1EBABA;
  box-shadow: 1px 3px 0 rgba(0, 0, 0, 0.8);
}
.form-container .form-row textarea {
  min-height: 100px;
  padding: 20px;
  padding: 10px 20px 10px 5px;
  flex: 3;
  width: auto;
  border: 4px solid #eee;
  border-radius: 4px;
  font-size: 14px;
  transition: 0.2s all ease-in-out;
}
.form-container .form-row textarea:focus {
  outline: none;
  border: 4px solid #1EBABA;
  box-shadow: 1px 3px 0 rgba(0, 0, 0, 0.8);
}
.form-container .submit-row {
  display: flex;
}
.form-container .btn {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 2.6rem;
  border: 1px solid #1EBABA;
  background: #1EBABA;
  color: #FCFCFC;
  font-family: 'Cabin', sans-serif;
  font-size: 1.6rem;
  transition: 0.3s all ease-in-out;
}
.form-container .btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
footer p {
  color: #FCFCFC;
}
footer .col-2 {
  text-align: right;
}
footer li {
  display: inline;
  margin-right: 20px;
}
footer li:last-child {
  margin-right: 0;
}
footer svg {
  max-width: 20px;
}
footer .twitter-icon {
  fill: #1DA1F2;
}
footer .github-icon {
  fill: #000000;
}
footer .codepen-icon {
  fill: #000000;
}
