/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}
p,
a,
li {
  font-family: 'Cabin', sans-serif;
}
p {
  font-size: 1.6rem;
  line-height: 1.2;
}
li {
  font-size: 1.5rem;
  line-height: 1.2;
}
h1 {
  font-size: 3.6rem;
  color: #FCFCFC;
}
h2 {
  font-size: 2.8rem;
  color: #FCFCFC;
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  background: #424949;
}
.top-header {
  text-align: center;
}
.top-header nav {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .top-header nav {
    flex-wrap: wrap;
  }
}
.top-header nav a {
  font-size: 1.8rem;
  font-family: 'Cabin', sans-serif;
  text-decoration: none;
  color: #FCFCFC;
}
@media (max-width: 500px) {
  .top-header nav a {
    font-size: 1.5rem;
  }
}
.container {
  max-width: 820px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.bio-content {
  margin: 40px 0 0;
  background: #1EBABA;
  padding: 50px 0;
}
.bio-content .main-headline {
  flex: 0 0 100%;
  text-align: center;
  margin: 0 0 50px;
}
.bio-content .container {
  align-items: center;
}
.bio-content h2 {
  margin-bottom: 0.5em;
}
.bio-content p {
  color: #FCFCFC;
}
.bio-image {
  max-width: 120px;
  border-radius: 20%;
  border: 2px solid #FCFCFC;
}
.skills {
  background: #FCFCFC;
  padding: 50px 0;
}
.skills h2 {
  color: #272323;
}
.skills .list-container {
  display: flex;
  justify-content: space-around;
}
.skills li {
  font-size: 1.7rem;
  color: #272323;
  margin-bottom: 0.5em;
}
